<div class="app-bar fg-color-white padding20" id="whats-new" style="display: none;">
    <p>Что нового?</p>
    <div class="place-right bg-color-darken">
        <button class="shortcut">
            <span class="icon">
                <i class="icon-user-3"></i>
            </span>
            <span class="label">
                Пользователи
            </span>

            <span class="badge">+10</span>
        </button>
        <button class="shortcut">
            <span class="icon">
                <i class="icon-comments"></i>
            </span>
            <span class="label">
                Комментарии
            </span>

            <span class="badge">+117</span>
        </button>
    </div>
</div>