<div class="operations">
    <i class="icon-checkmark"></i>
    <i class="icon-cancel"></i>
    <i class="icon-plus"></i>
</div>
<div class="form">
    <form action="">
        <div class="page-control" data-role="page-control">
            <ul>
                <li class="active"><a href="#mainFrame">Основное</a></li>
                <li><a href="#ruFrame">Русский</a></li>
                <li><a href="#enFrame">Английский</a></li>
                <li><a href="#uaFrame">Украинский</a></li>
            </ul>
            <div class="frames">
                <div class="frame active" id="mainFrame">

                    <div>
                        Логин
                        <div class="input-control text">
                            <input type="text" />
                            <button class="helper"></button>
                        </div>
                    </div>

                    <div>
                        Пароль
                        <div class="input-control password">
                            <input type="password" />
                        </div>
                    </div>

                    <div>
                        Группа пользователей
                        <div class="input-control password">
                            <select>
                                <option value="">Администрирование</option>
                                <option value="">Модератор</option>
                                <option value="">Зарегистрированный пользователь</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        О себе
                        <div class="input-control textarea">
                            <textarea></textarea>
                        </div>
                    </div>


                    <div>
                        <div class="input-control switch">
                            <input type="checkbox">
                            <span class="helper">Активирован</span>
                        </div>
                    </div>
                </div>
                <div class="frame" id="ruFrame"> ...frame content... </div>
                <div class="frame" id="enFrame"> ...frame content... </div>
                <div class="frame" id="uaFrame"> ...frame content... </div>
            </div>
        </div>
    </form>
</div>